@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Raleway;
    src: url("Raleway/static/Raleway-Medium.ttf") format("truetype");
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.animate-imageTransition {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.animate-imageTransition.opacity-0 {
    animation-name: fadeOut;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.svg-text {
    font-family: "Raleway";
    letter-spacing: 10px;
    stroke: #64e15b;
    font-size: 50px;
    font-weight: 700;
    stroke-width: 1;
    animation: textAnimate 8s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%);
    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
        fill: hsla(189, 68%, 75%, 0%);
    }
}
